.MuiMenu-list{
    background-color:  rgb(239, 239, 239);
.container-cart{
    padding: 0.2rem 0.5rem;
    .cartEmpty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
        }
    }
}
.cart-widget-list{
padding-right: 2rem;
padding-left: 2rem;
width: 300px;
    img{
        width: 60px
    }
}
#colorBtnAddToCart{
    color: white;
}