#colorBtnAddToCart{
   background-color: #ea5127;
  
}
#colorBtnAddToCart:hover{
    background-color: #de4d25;
}
.area-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
