#container-container{
    h2{
        margin-top: 3rem;
    }
.contact-styles{
    margin-bottom: 4rem;
   .contact-method{
       p{
        margin-bottom: 2rem;
       }
       .spacing-icon-typography{
        padding-right: 1rem;
       }
    }
   }
}