#navBar-fixed{
    position: fixed;
    top: 0px;
}
.toolbar{
    .pos-logo{
        display: flex;
        align-items: center;
        
        .contenedorLogo{      
            .styleLogo{            
                width: 30%;
                z-index: 99;
            }
        }
    }
    
    button{
        background-color: #ea5127;
        color: white;
        z-index: 99;
        padding: 0.5rem  1.5rem;
    }
    .spaceBtn{
        margin-right: 10px   
    }
    .cart-widget{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.link-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#no-color{
    background-color: white;
    color: rgb(67, 67, 67);    
}

#links-nav-bar{
    color: rgb(67, 67, 67);
}
a{
    text-decoration: none;    
}

@media (max-width: 900px) {    
.toolbar{
    padding-right: 0%;
    padding-left: 0%;
    .spaceBtn{
        margin-right: 0;
    }
    div{
        padding-right: 0%;
        padding-left: 0%; 
        #grid-mediaquery{
            display: grid;
            grid-template-areas: 
            "links logo cart-widget";
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .pos-logo{
            grid-area: logo;
            justify-self: center;
            align-self: center;
            width: 12rem;
            .styleLogo{            
                width: 100%;
                z-index: 99;
                }  
        }
        .grid-links{
            grid-area: links;
            justify-self: center;
            align-self: center;
            button{
                color: #ea5127;
                background-color: white;
            }
        }
        .cart-widget{
            grid-area: cart-widget;
            }
        }
    } 
    #cart-disappear{
        display: none ;
    }
}
@media (max-width: 374px) { 
    .toolbar{
        div{
            .pos-logo{
            width: 9rem;
            }
        }
    }
}
@media (max-width: 314px) { 
    .toolbar{
        div{
            .pos-logo{
            width: 5rem;
            }
        }
    }
}

//fixing error mui
@media only screen and (min-width: 899.9px)and(max-width:900.9px) {
    .toolbar{
        div{
            #grid-mediaquery{
                display: flex ;
                margin-top: 0rem ;
                margin-bottom: 0rem ;
            }
        }
    }
}
 
