.toolbar{
    .pos-logo{
        display: flex;
        align-items: center;
        
        .contenedorLogo{      
            .styleLogo{            
                width: 30%;
                z-index: 99;
            }
        }
    }
    
    button{
        background-color: #ea5127;
        color: white;
        z-index: 99;
        padding: 0.5rem  1.5rem;
    }
    .spaceBtn{
        margin-right: 10px   
    }
    .cart-widget{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.link-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#no-color{
    background-color: white;
    color: rgb(67, 67, 67);
    
}


#links-nav-bar{
    color: rgb(67, 67, 67);
}
a{
    text-decoration: none;
    
}
@media (max-width: 900px) {
    .toolbar{
        padding: 1rem 0rem;
        .pos-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            .contenedorLogo{ 
                width: 50%;     
                .styleLogo{            
                    width: 30%;
                    z-index: 99;
                }
            }
        }
        .cart-widget{
            display: flex;
            justify-content: flex-end;
        }  
    }
    
}
