//Logo
.grid-container-footer{
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .styleLogo{
        width: 25%;
    }
    .footerText{
        display: flex;
        justify-content: start;
        ul{
            margin-top: 0rem;
            padding-left: 0rem;
            li{
                list-style: none;
                line-height: 3rem;
                a{
                    text-decoration:none;
                    color: black;
                }
                a:hover{
                    color: #ea5127;
                }
            }
        }
    }
}