/*tipografia Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto',sans-serif;  
  position: relative;
  z-index: 99;
}

footer{
  background-color: blanchedalmond;
}

#colorBtnAddToCart{
  a{
    text-decoration: none;
    color: white;
  }
}

/*******Home*********/

.justify-content-home{
  display: flex;
  
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  h3{
    color: #ea5127
  }
  img{
    border-radius: 10px;
    width: 100%;
  }
  #outlined-color-bottom{
    border-color: #ea5127;
    margin-top: 1rem;
    a{
     color: #ea5127;
     text-decoration: none;
    }
  }
}
.img-portada-home{
  width: 100%;
}
.cart-empty-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px){
  #col-direction-home{
    
    flex-direction: column-reverse;
  }

}