#colorBtnAddToCart{
   background-color: #ea5127;
  
}
#colorBtnAddToCart:hover{
    background-color: #de4d25;
}
.area-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-quantity{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    #bt--quantity{
        color: black;
        background-color: #ebebeb; 
        
    }
    span{
        margin: 0.3rem;
        display: flex;
        align-items: center;
        font-size: 16px;
    }
}
.justify-content-center{
   visibility: hidden;
   a{
       text-decoration: none;
       color: #de4d25;
   }
}

.visible:hover{
    .justify-content-center{
        visibility: visible;
    }
}

@media (max-width: 900px) {
    .justify-content-center{
        visibility: visible;
        background-color: #e1cfca92;
    }
  }